<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css"
          href="/css/main.css"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>
    <script type="text/javascript"
            src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">

    <div class="starter-template">
        <h1>403 - Access is denied</h1>
        <div th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]',
            you do not have permission to access this page.</div>
    </div>
    <div class="col-sm-12 col-md-6 vertical-center">
        <form th:action="@{/logout}" method="post" >
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg pull-right btn-log">Log Out</button>
            </div>
            <input type="hidden" id="csrf_token" name="${_csrf.parameterName}" value="${_csrf.token}" />
        </form>
    </div>

</div>

</body>
</html>
