
<div class="container-fluid p-4">
  <mat-card style="margin:2em;">
    <mat-card-header>
      <h2 style="margin:0 auto;">Microservice Security Demo</h2>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button color="primary" class="ml-2" mat-flat-button aria-label="Load Gateway Build Info" (click)="onGatewayMessage()"  >Load Gateway Message</button>
      <button mat-button color="primary" class="ml-2" mat-flat-button aria-label="Introspect Token" (click)="onIntrospectToken()"  >Introspect Token</button>
    </mat-card-actions>
    <mat-spinner style="margin:0 auto;" *ngIf="busy"></mat-spinner>
    <mat-card-content *ngIf="decoded">
      <mat-card-header><h2 style="margin:0 auto;">Decode Token</h2></mat-card-header>
      <mat-form-field appearance="standard">
        <mat-label>User Name</mat-label>
        <input matInput disabled value="{{ decoded.user_name }}">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Authorities</mat-label>
        <input matInput disabled value="{{ decoded.authorities }}">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Scope</mat-label>
        <input matInput disabled value="{{ decoded.scope }}">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card style="margin:2em;" *ngIf="gatewayMessage">
    <mat-card-header class="sub-header">
      <h2 style="margin:0 auto;">Gateway Message</h2>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="standard">
        <mat-label>Version</mat-label>
        <input matInput disabled value="{{ gatewayMessage.version }}">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Message</mat-label>
        <input matInput disabled value="{{ gatewayMessage.message }}">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card style="margin:2em;" *ngIf="introspectToken">
    <mat-card-header class="sub-header">
      <h2 style="margin:0 auto;">Token Introspection</h2>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="standard">
        <mat-label>User Name</mat-label>
        <input matInput disabled value="{{ introspectToken.sub }}">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Active</mat-label>
        <input matInput disabled value="{{ introspectToken.active }}">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Scope</mat-label>
        <input matInput disabled value="{{ introspectToken.scope }}">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Expires</mat-label>
        <input matInput disabled value="{{ introspectToken.exp | date : 'medium' }}">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
