
<div class="container-fluid p-4">
  <mat-card>
    <mat-card-header>
      <h1 style="margin:0 auto;">Microservice Security Demo with Spring Security and In-memory LDAP Server</h1>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button color="primary" class="ml-2" mat-flat-button aria-label="Load Gateway Build Info" (click)="onGatewayMessage()"  >Load Gateway Message</button>
    </mat-card-actions>
    <mat-card-content *ngIf="gatewayMessage">
      <mat-form-field appearance="standard">
        <mat-label>Version</mat-label>
        <input matInput disabled value="{{ gatewayMessage.version }}">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Message</mat-label>
        <input matInput disabled value="{{ gatewayMessage.message }}">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
