
<div class="container-fluid p-4">
  <mat-card style="margin:2em;">
    <mat-card-header>
      <h2 style="margin:0 auto;">Microservice Security Demo</h2>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button color="primary" class="ml-2" mat-flat-button aria-label="Load Gateway Build Info" (click)="onGatewayMessage()"  >Load Gateway Message</button>
      <button mat-button color="primary" class="ml-2" mat-flat-button aria-label="Introspect Token" (click)="onIntrospectToken()"  >Introspect Token</button>
    </mat-card-actions>
    <mat-spinner style="margin:0 auto;" *ngIf="busy"></mat-spinner>
    <mat-card-header><h2 style="margin:0 auto;">Decode Token</h2></mat-card-header>
    <mat-card-content *ngIf="decoded">
      <table width="100%" style="text-align: left">
        <tr>
          <th width="10%">User Name</th>
          <td width="85%">{{ decoded.user_name }}</td>
        </tr>
        <tr>
          <th width="10%">Authorities</th>
          <td width="85%">{{ decoded.authorities }}</td>
        </tr>
        <tr>
          <th width="10%">Scope</th>
          <td width="85%">{{ decoded.scope }}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <mat-card style="margin:2em;" *ngIf="gatewayMessage">
    <mat-card-header class="sub-header">
      <h2 style="margin:0 auto;">Gateway Message</h2>
    </mat-card-header>
    <mat-card-content>
      <table width="100%" style="text-align: left">
        <tr>
          <th width="10%">Version</th>
          <td width="85%">{{ gatewayMessage.version  }}</td>
        </tr>
        <tr>
          <th width="10%">Message</th>
          <td width="85%">{{ gatewayMessage.message  }}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <mat-card style="margin:2em;" *ngIf="introspectToken">
    <mat-card-header class="sub-header">
      <h2 style="margin:0 auto;">Token Introspection</h2>
    </mat-card-header>
    <mat-card-content>
      <table width="100%" style="text-align: left">
        <tr>
          <th width="10%">User Name</th>
          <td width="85%">{{ introspectToken.sub  }}</td>
        </tr>
        <tr>
          <th width="10%">Active</th>
          <td width="85%">{{ introspectToken.active  }}</td>
        </tr>
        <tr>
          <th width="10%">Scope</th>
          <td width="85%">{{ introspectToken.scope  }}</td>
        </tr>
        <tr>
          <th width="10%">Expires</th>
          <td width="85%">{{ introspectToken.exp | date : 'medium' }}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
